
$font-family-sans: 'Interstate Light', /* 'Open Sans', */ Arial, sans-serif;
$font-family-bold: 'Interstate Black Cond', /* 'Open Sans Condensed', */ Arial, sans-serif;
$font-family-serif: 'PT Serif', 'Times New Roman', Times, serif;
$font-family-adverts: Verdana, Geneva, Arial, sans-serif;

$latest-bg-color:       #e2edf1;
$latest-bg-color-alt:   #c9dde3;
$latest-border-color:   #84b1bf;
$latest-gray-color:     #939598;
