dist/
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
log.txt
package-lock.json

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
