
.cw-latest-news {
  clear: both;
  max-width: 320px;
  margin-bottom: 25px;
  background-color: $latest-bg-color;
  border: 2px solid $latest-border-color;
  text-align: left;

  header {
    padding: 2px 15px 5px;
    h2 {
      margin: 6px 4px 4px;
      font-size: 36px !important;
      font-weight: 600;
    }
  }

  li {
    padding: 10px 12px;
    a {
      display: block;
      color: black;
    }
    img {
      float: left;
      width: 33%;
      margin-right: 3%;
      border: 2px solid $latest-gray-color;
    }
    div {
      float: right;
      width: 64%;
    }
    h3 {
      height: 55px;
      overflow: hidden;
      margin: 0 0 2px 0;
      font-family: $font-family-bold;
      font-size: 16px;
      word-wrap: break-word;
      hyphens: auto;
    }
    time {
      font-size: 11px;
      display: inline;
    }
    &:nth-child(2n+1) {
      background-color: $latest-bg-color-alt;
    }
  }

  footer {
    .more {
      display: block;
      margin: 10px 20px;
      text-align: right;
      img {
        width: 18px;
        border: none;
      }
    }
    h3 {
      margin: 8px 10px;
      font-size: 20px !important;
      font-weight: 600;
    }
  }
}
